html, body {
    overflow: hidden;
    min-width: 320px;
}

nav {
    margin: 0;
    padding: 5px;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #aaa;
}

nav:after {
    clear: both;
}

nav * {
    margin: 0;
}

.brand {
    margin-right: 10px;
/*
    margin-top: 5px;
*/
}

.brand, .user-title {
    float: left;
}

.user {
    color: #594372;
    font-weight: 800;
}

.login, .signup, .user-config, .logout {
    float: right;
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

/*
.login:hover, .signup:hover, .user-config:hover, .logout:hover {
    color: gray;
}
*/

nav.no-user .login, nav.no-user .signup, nav .user-config, nav .logout {
    display: block;
}

nav .login, nav .signup, nav.no-user .user-config, nav.no-user .logout {
    display: none;
}

#checkin-body, #manage-body {
    position: absolute;
    top: 40px;
    bottom: 55px;
    left: 0;
    width: 100%;
    height: auto;
    min-width: 320px;
    overflow: hidden;
}

#manage-body {
    display: none;
}

.checkin-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
}

.year-month {
    text-align: center;
}

.return-today {
    position: relative;
    top: 20px;
    display: none;
    /*font-size: 16px;*/
    color: red;
    opacity: 0;
}

.return-today.display {
    display: block;
    opacity: 1;
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.checkin-container {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.checkin-table {
    position: absolute;
    left: -100%;
    width: 300%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.checkin-table, .checkin-table td, .checkin-table th {
    text-align: center;
    border: 1px solid #ddd;
}

.checkin-table td.rest-day {
    background-color: #eee;
}

.checkin-table.auto-move {
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: left 0.6s ease-out;
    -moz-transition: left 0.6s ease-out;
    -o-transition: left 0.6s ease-out;
    transition: left 0.6s ease-out;
}

.checkin-table td {
    cursor: pointer;

    /* X5 engine in weixin need -webkit- */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

td.checkined {
    background-image: url(/images/yes_red_small.png);
}

td.wait-server-response {
    background-image: url(/images/waiting.gif);
}

.checkin-cell {
    color: #999;
}

.checkin-cell.in-current-month {
    color: black;
}

#habit-container {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

/*
#habit-list {
    margin: 0;
    padding: 0;
}

.habit {
    border-bottom: 1px solid #ddd;
    color: #000;
    background-color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.habit:first-child {
    border-top: 1px solid #ddd;
}

.current-habit {
    color: #fff;
    background-color: #337ab7 !important;
}
*/

.habit:hover {
    background-color: #ddd;
}


#toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#new-habit {
    position: relative;
    margin: 0 auto;
}

#manage-habits {
}


/* Dialog Begin */

.error-message {
    color: red;
    display: none;
}

#to-signup, #to-login {
    color: red;
    cursor: pointer;
}

/* Dialog End */

/* Debug Begin */
#debug-log {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    overflow: scroll;
    display: none;
}

#clear-log {
    display: none;
}

/* Debug End */

