nav {
    margin: 0;
    padding: 5px;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #aaa;
}

nav:after {
    clear: both;
}

nav * {
    margin: 0;
}

.brand {
    margin-right: 10px;
/*
    margin-top: 5px;
*/
}

.brand, .user-title {
    float: left;
}

.user {
    color: #594372;
    font-weight: 800;
}

.login, .signup, .user-config, .logout {
    float: right;
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.login:hover, .signup:hover, .user-config:hover, .logout:hover {
    color: gray;
}

nav.no-user .login, nav.no-user .signup, nav .user-config, nav .logout {
    display: block;
}

nav .login, nav .signup, nav.no-user .user-config, nav.no-user .logout {
    display: none;
}

.body {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
}

.checkin-header {
    position: relative;
}

.year-month {
    text-align: center;
}

.return-today {
    position: relative;
    top: 20px;
    display: none;
    /*font-size: 16px;*/
    color: red;
    opacity: 0;
}

.return-today.display {
    display: block;
    opacity: 1;
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.checkin-container {
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.checkin-table {
    position: absolute;
    left: -100%;
    width: 300%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.checkin-table, .checkin-table td, .checkin-table th {
    text-align: center;
    border: 1px solid #ddd;
}

.checkin-table td.rest-day {
    background-color: #eee;
}

.checkin-table.auto-move {
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: left 0.6s ease-out;
    -moz-transition: left 0.6s ease-out;
    -o-transition: left 0.6s ease-out;
    transition: left 0.6s ease-out;
}

.checkin-table td {
    cursor: pointer;

    /* X5 engine in weixin need -webkit- */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

td.checkined {
    background-image: url(/images/yes_red_small.png);
}

td.wait-server-response {
    background-image: url(/images/waiting.gif);
}

.checkin-cell {
    color: #999;
}

.checkin-cell.in-current-month {
    color: black;
}

#habit-container {
    padding-top: 10px;
}

/*
#habit-list {
    margin: 0;
    padding: 0;
}

.habit {
    border-bottom: 1px solid #ddd;
    color: #000;
    background-color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
}
*/

/*
.habit:first-child {
    border-top: 1px solid #ddd;
}
*/

.habit:hover {
    background-color: #ddd;
}

.current-habit {
    color: #fff;
    background-color: #337ab7 !important;
}


#toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#new-habit {
    position: relative;
    margin: 0 auto;
}

#manage-habits {
}


/* Dialog Begin */
.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.dialog-container.display {
    display: block;
}

.dialog-background {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-container.display .dialog-background {
    opacity: 0.4;
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.dialog {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    position: relative;
    width: 60%;
    height: 30%;
    margin: 0 auto;

    display: none;
}

.dialog.display {
    display: block;

    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);

    /* X5 engine in weixin need -webkit- */
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.dialog-info {

}

.dialog-yesno {
}

.dialog-login {
    height: 50%;
}

.dialog-signup {
    height: 60%;
}

.dialog-title {
    background-color: #428bca;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.dialog-message {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 20px;
}

.dialog-content {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 20px;
}

.to-signup, .to-login {
    color: red;
    cursor: pointer;
}

.to-signup:hover, .to-login:hover {
    color: #900;
}

.dialog-input-container {
    position: relative;
}

.dialog-input {
    display: table;
    position: relative;
    margin-bottom: 10px;
    color: red;
    width: 90%;
}

.dialog-input input, .dialog-input span {
    display: table-cell;
}

.dialog-button-bar {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
}

.dialog-button-bar:after {
    clear: both;
}

.dialog-button-ok {
    margin-right: 30px;
    float: right;
}

.dialog-button-yes {
    margin-right: 30px;
    float: right;
}

.dialog-button-no {
    margin-right: 30px;
    float: right;
}
/* Dialog End */

/* Debug Begin */
#debug-log {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    overflow: scroll;
    display: none;
}

#clear-log {
    display: none;
}

/* Debug End */

