html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button {
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button:hover {
    background-color: #eee;
}

.year-month {
    margin: 10px auto;
    text-align: center;
}

.return-today {
    display: none;
    position: absolute;
    top: 20px;
    right: 40px;
    opacity: 0;
}

.return-today.display {
    display: block;
    opacity: 1;
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.checkin-container {
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.checkin-table {
    position: absolute;
    left: -100%;
    width: 300%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.checkin-table, .checkin-table td, .checkin-table th {
    text-align: center;
    border: 1px solid #ddd;
}

.checkin-table td.rest-day {
    background-color: #ddd;
}

.checkin-table.auto-move {
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: left 0.6s ease-out;
    -moz-transition: left 0.6s ease-out;
    -o-transition: left 0.6s ease-out;
    transition: left 0.6s ease-out;
}

.checkin-table td {
    cursor: pointer;

    /* X5 engine in weixin need -webkit- */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

td.checkined {
    background-image: url(/images/yes_red_small.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.single-checkin {
    position: relative;
    width: 100%;
    height: 100%;
}

.checkin-cell {
    color: #999;
}

.checkin-cell.in-current-month {
    color: black;
}



/* Dialog Begin */
.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.dialog-container.display {
    display: block;
}

.dialog-background {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-container.display .dialog-background{
    opacity: 0.4;
    /* X5 engine in weixin need -webkit- */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.dialog {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    position: relative;
    width: 50%;
    height: 30%;
    margin: 0 auto;

    display: none;
}

.dialog.display {
    display: block;

    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);

    /* X5 engine in weixin need -webkit- */
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.dialog-info {
}

.dialog-yesno {
}

.dialog-title {
    background-color: #428bca;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
}

.dialog-message {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%;
    text-align: center;
}

.dialog-button-bar {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
}

.dialog-button-bar:after {
    clear: both;
}

.dialog-button-ok {
    margin-right: 30px;
    float: right;
}

.dialog-button-yes {
    margin-right: 30px;
    float: right;
}

.dialog-button-no {
    margin-right: 30px;
    float: right;
}

/* Dialog End */

#debug-log {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    overflow: scroll;
}
