body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.year-month {
}

.checkin-container {
    width: 100%;
    height: 150px;
}

.checkin-table {
    width: 200%;
    height: 100%;
    border-collapse: collapse;
}

.checkin-cell {
    color: #ccc;
}

.checkin-cell.in-current-month {
    color: #aaa;
}
